
.Texto {
    font-size: 16px;
    font-style: italic;
}
.Texto strong {
    font-weight: 600;
}
.Titulo {
    font-size: 25px;
    margin: 10px;
}
.Descripcion {
    margin-top: 10px;
    text-align: justify;
    width: 350px;
}
.imagen{
    width: 400px;
    height: 500px;
    align-items: center;
    margin: 60px;
    border-radius: 20px;
    -webkit-animation: imagen 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: imagen 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.inicio-flex .imagen{
    width: 400px;
    height: 500px;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px;
}
.contenido{
    -webkit-animation: contenido 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: contenido 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.flex{
    display: flex;
    flex-direction: column;
}
.inicio-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0 1px 15px rgba(0,0,0,.15);
}
.cita-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cita {
    font-style: italic;
    color: rgb(71 71 71 / 94%);
    text-align: center;
    margin-bottom: 20px;
}
.name{
    color: rgba(132, 131, 131, 0.94);
    text-align: center;
}

.black{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    color: white;
}
.black .contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 150%;
    width: 150%;
    margin-left: 350px;
}
.black .imagen{
    margin-left: 150px;
}

.white{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.white .contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 150%;
    width: 150%;
    margin-right: 350px;
    
}
.white .imagen{
    margin-right: 150px;
}


/*PARA IMAGENES*/
@-webkit-keyframes imagen {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes imagen {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*PARA TEXTO*/
@-webkit-keyframes contenido {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contenido {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}